body {
  display: flex;
  justify-content: center;
  color: #eee;
  background-color: #272727;
}

h1 {
  display: flex;
  justify-content: center;
  color: #eee;
  //   background-color: #171717;
}

button {
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
  border: none;
  outline: none;
  background-color: #f90;
}

form {
  margin: 5px;
  height: 40px;
  display: flex;
  flex: 1;
  justify-content: center;

  input {
    width: 220px;
  }
}

form > button {
  width: 40px;
  height: 40px;
}

form > button:hover {
  box-shadow: 40px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
li {
  margin-top: 20px;
}

li > button {
  margin-right: 5px;
}
li > button:hover {
  box-shadow: 55px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

.countDiv {
  margin: 20px;
  display: flex;
  flex: 1;
  justify-content: center;
}
