$qsz-light-background: #272727;
$qsz-default-textcolor: #eee;
$qsz-default-orange: #f90;
$qsz-default-placeholder: #aaa;

body {
  display: flex;
  justify-content: center;
  color: $qsz-default-textcolor;
  background-color: $qsz-light-background;
}

h1 {
  display: flex;
  justify-content: center;
  color: $qsz-default-textcolor;
  animation: breathing 3s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  35% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

button {
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
  border: none;
  outline: none;
  background-color: $qsz-default-orange;
}

form {
  margin: 5px;
  height: 60px;
  display: flex;
  flex: 1;
  justify-content: center;

  input {
    padding: 0 90px 0 10px;
    font-size: 32px;
    background-color: $qsz-default-textcolor;
    border-radius: 6px;
    &::placeholder {
      color: $qsz-default-placeholder;
    }
  }

  button {
    width: 60px;
    height: 60px;

    &:hover {
      box-shadow: 60px 0 0 0 rgba(0, 0, 0, 0.5) inset;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  li {
    font-size: 24px;
    margin-top: 20px;
    button {
      font-size: 16px;
      margin-right: 10px;
      &:hover {
        box-shadow: 55px 0 0 0 rgba(0, 0, 0, 0.5) inset;
      }
    }
  }
}

.countDiv {
  margin: 20px;
  display: flex;
  flex: 1;
  justify-content: center;
}
